/* CLASSI GENERALI */

@import "tailwindcss";

body {
  background-color: #fafafa;
}

.authCustom {
  background-color: #ffffff;
  border: 1px solid #c0c0c098;
  border-radius: 8px;
}

a {
  text-decoration: none;
}

.textCustom {
  position: relative;
  bottom: 12px;
}

.inputCustom {
  border: 2px solid #f4f4f4;
  border-radius: 5px;
  padding: 10px 15px;
}

.btnCustom {
  background-color: #ff3d00;
  border-radius: 8px;
  padding: 13px 15px;
  font-weight: 500;
}

.checkboxCustom {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #f4f4f4;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s ease;
  }

/* ANIMAZIONI E VARI */

.inputCustom:focus {
  box-shadow: 0 0 0 0.5px black;
}

.checkboxCustom:checked {
  background-color: #ff3d00;
  border-color: #ff3d00;
}

.checkboxCustom:checked::after {
  content: "✔";
  color: white;
  font-size: 12px;
  position: relative;
  top: -4px;
  left: 1px;
}

/* MEDIA QUERY */

@media (max-width: 510px) {
  .authCustom {
    width: 80%;
  }
}